.dockerignore
.editorconfig
.envrc
.eslintrc.json
.firebaserc
.git
.gitignore
.prettier*
.sequelizerc
.tool-versions
.vscode
*.bat
*.md
*.sh
coverage
db
dbdata
deployment
docker-compose.yaml
Dockerfile
firebase.json
heroku.yml
jest.config.js
local.Dockerfile
node_modules
